* {
  box-sizing: border-box;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 0%;
}

.slider {
  background-color: #333333;
  padding: 5%;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.body .slider[data-active-slide="0"] {
  transition: 0.8s;
  background-color: #333333;
}

.body .slider[data-active-slide="1"] {
  transition: 0.8s;
  background-color: pink;
  color: olivedrab;
}

.body .slider[data-active-slide="2"] {
  transition: 0.8s;
  background-color: rgba(255, 166, 0, 0.801);
  color: #003472;
}

.body .slider[data-active-slide="3"] {
  transition: 0.8s;
  background-color: rgb(77, 60, 108);
  color: rgb(143, 255, 192);
}

.slider__wrapper {
  display: grid;
  grid-template-areas:
    "a a a"
    "a a a"
    "b b c";
  width: 40vw;
  margin: 0 auto;
  gap: 2%;
}

.slider__image-wrapper {
  grid-area: a;
  overflow: hidden;
  width: 40vw;
  display: flex;
  gap: 15%;
}

.slider[data-active-slide="0"] .slider__images {
  transform: translate(0%, 0%);
}

.slider[data-active-slide="1"] .slider__images {
  transform: translate(-40%, 0%);
}

.slider[data-active-slide="2"] .slider__images {
  transform: translate(-80%, 0%);
}

.slider[data-active-slide="3"] .slider__images {
  transform: translate(-120%, 0%);
}

.slider__images {
  display: flex;
  gap: 15%;
}

.slider__meme {
  height: 40vw;
}

.slider__content-wrapper {
  grid-area: b;
}

.slider__pagination {
  grid-area: c;
  display: flex;
  align-items: flex-start;
}

.pagination__button {
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.pagination__icon {
  padding: 0.5rem;
  background-color: #003472;
  border-radius: 50%;
  border: 0.05rem solid #003472;
}

.pagination__button:hover .pagination__icon {
  background-color: #ffffff;
  transition: 0.3s;
}

.slider[data-active-slide="0"]
  .pagination__button:nth-child(1)
  .pagination__icon {
  background-color: transparent;
  border: 0.05rem solid #ffffff;
}

.slider[data-active-slide="1"]
  .pagination__button:nth-child(2)
  .pagination__icon {
  background-color: transparent;
  border: 0.05rem solid #ffffff;
}

.slider[data-active-slide="2"]
  .pagination__button:nth-child(3)
  .pagination__icon {
  background-color: transparent;
  border: 0.05rem solid #ffffff;
}

.slider[data-active-slide="3"]
  .pagination__button:nth-child(4)
  .pagination__icon {
  background-color: transparent;
  border: 0.05rem solid #ffffff;
}
