:root {
  --button-color: #003472;
  --slider-color: #333333;
  --background-color: #ffffff;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  margin: 0%;
}

.slider {
  background-color: var(--slider-color);
  padding: 5%;
  display: flex;
  align-items: center;
}

.slider__wrapper {
  display: grid;
  grid-template-areas:
    "a a a"
    "a a a"
    "b b c";
  width: 40vw;
  margin: 0 auto;
  gap: 5%;
}

.slider__images {
  grid-area: a;
  overflow: hidden;
  width: 40vw;
  display: flex;
}

.slider__meme {
  height: 40vw;
}

.slider__description {
  grid-area: b;
  color: #ffffff;
}

.slider__pagination {
  grid-area: c;
}
