:root {
  --button-color: #003472;
  --slider-color: #333333;
  --background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  margin: 0%;
}

.slider {
  background-color: var(--slider-color);
  padding: 5%;
  display: flex;
  align-items: center;
}

.slider__wrapper {
  display: grid;
  grid-template-areas:
    "a a a"
    "a a a"
    "b b c";
  width: 40vw;
  margin: 0 auto;
  gap: 5%;
}

.slider__images {
  grid-area: a;
  overflow: hidden;
  width: 40vw;
  display: flex;
}

.slider__meme {
  height: 40vw;
}

.slider__description {
  grid-area: b;
  color: #ffffff;
}

.slider__pagination {
  grid-area: c;
}

.pagination__button {
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.pagination__icon {
  padding: 0.5rem;
  background-color: #003472;
  border-radius: 50%;
  border: 0.05rem solid #003472;
}

.pagination__icon:hover {
  background-color: #ffffff;
  transition: 0.3s;
}

.pagination__icon:active {
  background-color: transparent;
  border: 0.05rem solid #ffffff;
}